BOT_TOKEN=
OPENAI_API_KEY=
GMAIL_CLIENT_SECRET_FILE=credentials.json
GOOGLE_PROJECT=
SERPAPI_KEY=
WEB_URL=https://example.com
DATABASE_URL=postgresql://postgres:postgrespassword@postgres:5432/assistant_ia
REDIS_URL=redis://redis:6379/0 